
google-auth-oauthlib
google-api-core
grpcio


google-cloud
pandas

st-annotated-text == 3.0.0


requests

numpy

pydata-google-auth 
google-cloud-firestore
google-cloud-core 
requests-oauthlib 

google-auth 


google-cloud-bigquery

oauthlib

pandas-gbq